{% extends 'Doctor_template/doctorhome.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta placeat animi eius velit ducimus
        ullam atque culpa corporis laboriosam ipsum ad eum ratione explicabo modi rem. Suscipit, nulla modi enim cum
        repellat error ipsa hic necessitatibus voluptatibus dolorem distinctio mollitia rerum non sit unde consectetur
        quibusdam? Minima, corrupti cumque.</p>
</div>
{% endblock %}